{% extends 'base.html' %}
{% load static %}

{% block 'title' %}    Nova Tarefa {% endblock %}

{% block 'head' %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block 'body' %}    

    <div class="container mt-5">
        <h2>Criar Tarefa</h2> 
        
        <form action="{% url 'salvar' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulotarefa" name="titulotarefa">
            </div>           
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comentário: </label>
                <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Grau de Urgência </label>
                <select class="form-select" aria-label="Default select example" name="urgencia">
                    <option value="Pequeno">Pequeno</option>
                    <option value="Médio">Médio</option>
                    <option value="Alto">Alto</option>
                </select>
            </div>
            {% if user.is_superuser %}
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Atribuir para</label>
                    <select class="form-select" aria-label="Default select example" name="user_atribuido">
                        <option value="{{ request.user.username }}">{{ request.user.username }}</option>
                        
                        {% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Atribuir para</label>
                    <select class="form-select" aria-label="Default select example" name="user_atribuido">
                        <option value="{{ request.user.username }}">{{ request.user.username }}</option>
                    </select>
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Data para finalização </label>
                <input type="date" class="form-control" id="datafinalizacao" name="datafinalizacao"></input>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Gravar</button>  
            <a href="{% url 'home' %}"><input type="button" class="btn btn-danger" value="Voltar" ></a>     
        </form>
    </div>

{% endblock %}