{% extends 'base.html' %}
{% load static %}

{% block 'title' %}    Perfil {% endblock %}

{% block 'head' %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block 'body' %}    

    <div class="container mt-5">
        <h2>Editar Tarefa</h2> 
        <hr>
        <br>
        <form action="{% url 'update' lista.id %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulotarefa" name="titulotarefa" placeholder="{{lista.titulotarefa}}">
            </div>           
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comentário: </label>
                <textarea class="form-control" id="comentario" name="comentario" rows="3" placeholder="{{lista.comentario}}"></textarea>
            </div>
            {% if user.is_superuser %}
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Atribuir para</label>
                    <select class="form-select" aria-label="Default select example" name="user_atribuido">
                        <option value="{{ request.user.username }}">{{ request.user.username }}</option>
                        
                        {% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Concluido </label>
                <input type="checkbox" name="concluido"></input>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Gravar</button>  
            <a href="{% url 'home' %}"><input type="button" class="btn btn-danger" value="Voltar" ></a>     
        </form>

    </div>

{% endblock %}